.game-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  padding-left: 50px;
  padding-bottom: 50px;
  gap: 5px;
  width: 500px;
  height: 350px;
  position: relative;
}

.cell {
  /* border: 2px solid #333; */
  border-radius: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  background-image: url("../../assets/emptyZone.png");
  background-size: cover;
}

.rock {
  background-image: url("../../assets/block_rock.png");
  background-size: cover;
}

.knight {
  background-image: url("../../assets/block_knight.png");
  background-size: cover;
}

.bishop {
  background-image: url("../../assets/block_bishop.png");
  background-size: cover;
}

.dragon {
  background-image: url("../../assets/block_dragon.png");
  background-size: cover;
}

.sidebar {
  margin-left: 20px;
  /* border: 2px solid #333; */
}

.score,
.time-left,
.next-block {
  margin-bottom: 10px;
}

.game-over {
  margin-top: 20px;
  color: red;
  font-weight: 900;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.next-block {
  text-align: center;
  font-weight: 900;
}

.next-block-preview {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
